.result {
  text-align: center;
  text-transform: uppercase;
}

.buttons_panel {
  display: flex;
  justify-content: center;
}

.btn {
  font-size: 20px;
  text-transform: uppercase;
  height: 40px;
  width: 150px;
}
.output {
   text-align: center;
}